:root {
--body-bg:#fbfbfb;
--main-menu-bg:#fbfbfb;
--main-banner-bg:#fbfbfb;
--main-banner-height:500px;
--breadcrumb-image:url(http://dev.candidatefinder.com/assets/images/identities/main-banner.jpg);
--main-banner:url(http://dev.candidatefinder.com/assets/images/identities/main-banner.jpg);
}